<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="bg-banner py-5 px-4 text-center">
            <div class="py-5">
                <h1 class="display-1 text-uppercase text-primary mb-4">50% İNDİRİM</h1>
                <h1 class="text-uppercase text-light mb-4">Size özel indirimimizden faydalanın!</h1>
                <p class="mb-4">Bu indirimin geçerlilik süresi 1 saattir.</p>
                <a class="btn btn-primary mt-2 py-3 px-5" href="">İNDİRİMİ KULLAN</a>
            </div>
        </div>
    </div>
</div>