<div *ngIf="homepageBanners" class="container-fluid p-0" style="margin-bottom: 90px;">
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div *ngFor="let banner of homepageBanners; let i=index;" [class]="'carousel-item' + (i==0 ? ' active' : '')" >
                <img class="w-100" [src]="imageBasePath + banner.imagePath" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-md-3">{{banner.title}}</h4>
                        <h1 class="display-1 text-white mb-md-4">{{banner.description}}</h1>
                        <a [routerLink]="banner.buttonLink" class="btn btn-primary py-md-3 px-md-5 mt-2">{{banner.buttonText}}</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-prev-icon mb-n2"></span>
            </div>
        </a>
        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-next-icon mb-n2"></span>
            </div>
        </a>
    </div>
</div>