<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <h1 class="display-1 text-primary text-center">02</h1>
        <h1 class="display-4 text-uppercase text-center mb-5">HİZMETLERİMİZ</h1>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-2">
                <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                            <i class="fa fa-2x fa-taxi text-secondary"></i>
                        </div>
                        <h1 class="display-2 text-white mt-n2 m-0">01</h1>
                    </div>
                    <h4 class="text-uppercase mb-3">ARAÇ KİRALAMA</h4>
                    <p class="m-0">Sistemimiz üzerinden online olarak istediğiniz aracı istediğiniz tarihler aralığında kiralayın.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-2">
                <div class="service-item active d-flex flex-column justify-content-center px-4 mb-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                            <i class="fa fa-2x fa-money-check-alt text-secondary"></i>
                        </div>
                        <h1 class="display-2 text-white mt-n2 m-0">02</h1>
                    </div>
                    <h4 class="text-uppercase mb-3">KREDİ SİSTEMİ</h4>
                    <p class="m-0">Sistemimizin kendi içerisindeki kredi sistemi ile bugün kiralayın, yarın ödeyin.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-2">
                <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                            <i class="fa fa-2x fa-car text-secondary"></i>
                        </div>
                        <h1 class="display-2 text-white mt-n2 m-0">03</h1>
                    </div>
                    <h4 class="text-uppercase mb-3">Araç İnceleme</h4>
                    <p class="m-0">Kiralayacağınız araç ile ilgili her türlü detaylı bilgiyi sistemimizden sorgulayın.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-2">
                <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                            <i class="fa fa-2x fa-cogs text-secondary"></i>
                        </div>
                        <h1 class="display-2 text-white mt-n2 m-0">04</h1>
                    </div>
                    <h4 class="text-uppercase mb-3">SİGORTA VE KASKO</h4>
                    <p class="m-0">Sistemimiz üzerinden kiraladığınız her araç için sigorta ve kaskonuz otomatik olarak oluşsun.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-2">
                <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                            <i class="fa fa-2x fa-spray-can text-secondary"></i>
                        </div>
                        <h1 class="display-2 text-white mt-n2 m-0">05</h1>
                    </div>
                    <h4 class="text-uppercase mb-3">BAKIM & ONARIM</h4>
                    <p class="m-0">Araçlarımızın her kiralama öncesi ve sonrası uzmanlarımız tarafından bakımı ve onarımı yapılmaktadır.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-2">
                <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                            <i class="fa fa-2x fa-pump-soap text-secondary"></i>
                        </div>
                        <h1 class="display-2 text-white mt-n2 m-0">06</h1>
                    </div>
                    <h4 class="text-uppercase mb-3">ÖNCELİK HİJYEN</h4>
                    <p class="m-0">Hijyenin her şeyden önde geldiği bu dönemde araçlarımız günlük olarak dezenfekte edilmektedir.</p>
                </div>
            </div>
        </div>
    </div>
</div>