<app-header-carousel></app-header-carousel>
<app-about-us></app-about-us>
<app-our-services></app-our-services>
<app-offer-banner></app-offer-banner>
<app-car-list></app-car-list>
<app-homepage-team></app-homepage-team>
<app-contact-us></app-contact-us>



    <!-- Vendor Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src="../../../assets/img/vendor-1.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="../../../assets/img/vendor-2.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="../../../assets/img/vendor-3.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="../../../assets/img/vendor-4.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="../../../assets/img/vendor-5.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="../../../assets/img/vendor-6.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="../../../assets/img/vendor-7.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="../../../assets/img/vendor-8.png" alt="">
                </div>
            </div>
        </div>
    </div>
