<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <h1 class="display-1 text-primary text-center">01</h1>
        <h1 class="display-4 text-uppercase text-center mb-5">HOŞ<span class="text-primary"> GELDİNİZ</span></h1>
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <img class="w-75 mb-4" src="../../../assets/img/about.png" alt="">
                <p>
                    Bu `Rent a Car` projesi <a href="https://www.linkedin.com/in/halit-enes-kalayc%C4%B1-7a19a7189/" target="_blank">Halit Enes Kalaycı</a> tarafından .NET Core ve Angular teknolojileri kullanılarak geliştirilmiştir.
                    İçerisinde kullandığı tüm veriler ve aksiyonlar simülasyondur, gerçeği yansıtmaz. Bu proje <a href="https://www.linkedin.com/in/engindemirog/" target="_blank">Engin Demiroğ</a> .NET Core kampı ödevleri doğrultusunda geliştirilmiştir.
                    Geliştirilirken kullanılan tüm teknoloji ve kaynak kodlarına <a href="https://github.com/Sanchklyc/ReCapProject" target="_blank">buradan</a> ulaşabilirsiniz.    
                </p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 mb-2">
                <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                        <i class="fa fa-2x fa-headset text-secondary"></i>
                    </div>
                    <h4 class="text-uppercase m-0">7/24 Canlı Destek</h4>
                </div>
            </div>
            <div class="col-lg-4 mb-2">
                <div class="d-flex align-items-center bg-secondary p-4 mb-4" style="height: 150px;">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                        <i class="fa fa-2x fa-car text-secondary"></i>
                    </div>
                    <h4 class="text-light text-uppercase m-0">Her Zaman Kiralama İmkanı</h4>
                </div>
            </div>
            <div class="col-lg-4 mb-2">
                <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                        <i class="fa fa-2x fa-map-marker-alt text-secondary"></i>
                    </div>
                    <h4 class="text-uppercase m-0">Binlerce Alım Noktası</h4>
                </div>
            </div>
        </div>
    </div>
</div>