<div class="row">
  <div class="col-md-3">
    <app-brand></app-brand>
    <app-color></app-color>
  </div>
  <div class="col-md-9">
    <app-spinner *ngIf="dataLoaded==false"></app-spinner>
    <div class="mb-3">
      <label for="searchText" class="form-label">İsme Göre Ara</label>
      <input type="text" class="form-control" [(ngModel)]="searchText" id="searchText"
        placeholder="Bmw,Audi,Mercedes,Opel.....">
    </div>
    <div *ngIf="searchText" class="alert alert-success">{{searchText}} aradınız.</div>
    <div class="row mt-3 m-auto mb-3">
      <div class="col-md-5">
        <app-brand-select (OnChange)="onBrandChange($event)"></app-brand-select>
      </div>
      <div class="col-md-5">
        <app-color-select (OnChange)="onColorChange($event)"></app-color-select>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary w-100" (click)="applyFilters()">Filtrele</button>
      </div>
    </div>
    <table class="table" *ngIf="dataLoaded==true">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Araç Adı</th>
          <th scope="col">Model Yılı</th>
          <th scope="col">Günlük Ücreti</th>
          <th scope="col">KDV'li Günlük Ücreti</th>
          <th scope="col">Marka Adı</th>
          <th scope="col">Renk Adı</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of cars |filterPipe:searchText" routerLink="/cars/detail/{{car.id}}">
          <th scope="row">{{car.id}}</th>
          <td>{{car.carName |uppercase}}</td>
          <td>{{car.modelYear}}</td>
          <td>{{car.dailyPrice |currency:'TRY':"symbol-narrow"}}</td>
          <td>{{car.dailyPrice |vatAdded:18 |currency:'TRY':"symbol-narrow"}}</td>
          <td>{{car.brandName}}</td>
          <td>{{car.colorName}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>