
<div class="container-fluid bg-white pt-3 px-lg-5">
    <div class="row mx-n2">
        <div class="col-xl-2 col-lg-4 col-md-6 px-2">
          <app-brand-select (onSelect)="changeBrand($event)"></app-brand-select>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-6 px-2">
         <app-color-select (onSelect)="changeColor($event)"></app-color-select>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-6 px-2">
            <div class="date mb-3" id="date" data-target-input="nearest">
                <input [(ngModel)]="minPrice" type="text" class="form-control p-4 datetimepicker-input" placeholder="Min. Fiyat"
                    data-target="#date" data-toggle="datetimepicker" />
            </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-6 px-2">
            <div class="time mb-3" id="time" data-target-input="nearest">
                <input [(ngModel)]="maxPrice" type="currency" class="form-control p-4 datetimepicker-input" placeholder="Max. Fiyat"
                    data-target="#time" data-toggle="datetimepicker" />
            </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-6 px-2">
            <div class="time mb-3" id="time" data-target-input="nearest">
                <input [(ngModel)]="query" type="currency" class="form-control p-4 datetimepicker-input" placeholder="anahtar kelimeler"
                    data-target="#time" data-toggle="datetimepicker" />
            </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-6 px-2">
            <button class="btn btn-primary btn-block mb-3" type="submit" (click)="search()" style="height: 50px;">Ara</button>
        </div>
    </div>
</div>